<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <i class="fas fa-print"></i>
  </a>
  <div class="nav-collapse">
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %> 
    <% else %>
      <%=link_to "Sign Up", new_user_registration_path%> 
      <%=link_to "Login", new_user_session_path%> 
    <% end %>
  </div>
</div>

<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
