<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgudbai8t/image/upload/v1597773767/test_bdpvp5.jpg);">
  <div class="wrapper">
        <h1>Prints Charming brings <strong>print outs</strong> to <strong>disorganized people</strong>!</h1>
          <p><span id="banner-typed-text"></span></p>
          <%= link_to 'Add Your Printer', new_printer_path, class:'btn btn-flat'%>
          <%= link_to 'Find a Printer', printers_path, class:'btn btn-flat' %>
  </div>
</div>
