.navbar-lewagon {
  justify-content: space-between;
  margin:0;
  background: white;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  color: black;
  font-size: 2rem;
}

.navbar-lewagon .navbar-brand:hover {
  color: rgb(62,149, 238);
}

.logo
{
  font-family: 'Nunito Sans', sans-serif;
}

// .drop-down {
//   position: relative;
//   display: inline-block;
// }

// .dropdownContent {
//   display: none;
//   position: absolute;
//   background-color: #f1f1f1;
//   min-width: 160px;
//   overflow: auto;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }

// .dropdownContent a {
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
// }

// .dropdownContent a:hover {background-color: #ddd;}

.show {display:block;}
