.navbar-lewagon {
  justify-content: space-between;
  margin:0;
  background: white;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  color: red;
  font-size: 2rem;
}
