.navbar-lewagon {
  justify-content: space-between;
  margin:0;
  background: white;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  color: rgb(62,149, 238);
  font-size: 2rem;
}

.logo
{
  font-family: 'Nunito Sans', sans-serif;
}
