<%= render "shared/navbar" %>
<div class="printers_header m-3">
<h3><strong>Printers</strong></h3>
<p>Explore some nearby printers</p>
</div>

<div class="container">
  <div class="cards">
    <% @printers.each do |printer| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path printer.photo.key, height: 300, width: 400, crop: :fill %>')">
        <p><%=link_to printer.model, printer_path(printer), class:"card-link" %></p>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Add Printer", new_printer_path, class: "btn btn-flat m-3" %>
