<div style="margin-top: 5rem;">
  <div class="container">
    <div class="cards">
      <% @printers.each do |printer| %>
        <div class="card-trip">
          <img src="<%= cl_image_path printer.photo.key, height: 300, width: 400, crop: :fill %>"/>
          <div class="card-trip-infos">
            <div class="col-md-12 text-center">
              <h2><%= printer.model %></h2>
              <p><%= link_to "See bookings for this printer", printer_bookings_path(printer), class: "btn btn-flat mt-3" %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

